.container {
  display: flex;
  justify-content: space-between;
}

.pagbutton {
  width: 25%;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagbutton:disabled {
  background-color: rgba(220, 20, 60, 0.219);
  cursor: not-allowed;
}
